//variables
@import "../utilidades/variables";

//mixin
@import "../utilidades/mixin";


/*estilos de home*/

body{
    background-color: $color-fondo;
}

/* estilos header*/


header {
   @include style-header;

    .logo {
        @include style-header-logo;
    }
}

/*estilos nav bt*/

nav ul {
    @include style-nav;

    .menu-color {
        color: $color-letra;
    }

    .menu-color:hover {
        border-bottom: 2px solid $color-secundario;
        color: $color-letra;
    }
}


/*estilos del footer*/

footer {
    @include style-footer;
 
     h3 {
         color: $color-letra;
         font-size: small;
     }
 
     .derechos {
         grid-column: span 2;
         text-align: center;
     }
 
     .bc {
        @include style-footer-bc;
     }
 
     .redes {
         grid-column: 2/3;
         padding-left: 0.5rem;
 
         .l1 {
             width: 1rem;
             height: 1rem;
         }
     }
 }