//variables
@import "../utilidades/variables";

//mixin
@import "../utilidades/mixin";


/*estilos group-card*/

.my-card {
    @include style-card;

    h1 {
        @include style-prod;
    }

    h1:hover {
        opacity: 0.8;
        background-size: 100% 2px, auto;
    }

    .sub-hover {
        display: grid;
        place-content: center;
    }

    h2 {
        @include style-prod;
        font-size: 18px;
    }

    h2:hover{
        opacity: 0.8;
        background-size: 100% 2px, auto;
    }

}

.main-card{
   @include style-card-dos;
}

.main-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px $color-hover-card, 0 4px 8px $color-hover-card-dos;
}







