/*contactos*/

form {
    max-width: 500px;
    margin: 0 auto;

    h1 {
        @extend %style-h1;
    }
    
    h2{
        font-size: 18px;
        color: $color-letra;
    }
}

.form-group {
    margin-bottom: 20px;

    label {
        @extend %style-label;
    }
}

input,
textarea {
    @extend %style-textarea;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    @extend %style-button;
}

button[type="submit"]:hover {
    background-color: $color-btn-dos;
}



