//paleta de colores 
$color-fondo: rgb(14, 13, 13);
$color-carousel: rgba(88, 3, 3, 0.3);
$color-carousel-hover:rgba(255, 5, 5, 0.2);
$color-secundario: rgb(251, 9, 9);
$color-letra: rgb(245, 245, 245);
$color-hover-card:rgba(255, 5, 5, 0.473);
$color-hover-card-dos:rgba(0, 0, 0, .06);
$color-fondo-form:#222;
$color-btn:rgb(251, 9, 9);
$color-btn-dos:rgb(200, 6, 6);